
#abcmio-bg {
    background-color: #00757f !important;
}
.white,button.white, a.white {
    color:#fff !important;
}

.bg-gray {
    background-color: gray;
}
/* Break Points */


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
    #articles {}
    #articles .article-item{}
    #articles .article-item img{
        margin: 0 auto;
        align-content: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }